*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	background-color: #000000;
	background-image: url("../Imagenes/Fondo.GIF"); 
	font-family: "segoe UI";
	text-align: justify;
}
.info {
  color: white;
  font:1em/1 sans-serif;
  text-align: center;
}
.info a{
  color: white;
}
svg{
  width: 1300px;
  height: 120px;
  display: block;
  position: relative;
  overflow: hidden; 
  margin: 0 auto;
  background: black;
}
h1{
	font-size: 72px;  
	background: -webkit-linear-gradient(left top, #0000FF, #FF0000);
	background: linear-gradient(to bottom right, #0000FF, #FF0000);
	-webkit-background-clip: text;  
	-webkit-text-fill-color: transparent; 
	text-shadow: 18px 10px 35px #000000;
	margin-bottom: 3px;
	text-align: center;
	column-span: 
	all;
}
#Secciones{

	display: block;
	column-count: 3; 
	column-gap: 20px;
	column-width: 120px;
}
#seccion{
	padding: 8px;
	text-align: justify;
	float: left;
	width: 950px;
	margin: 20px;
	margin-left: 30px;
	background: #66FF00;
	clear: left;
}
a{
	margin-right: 0px;
	height: 50px;
}
#lateral{
	float: left;
	width: 325px;
	margin: 20px 0px;
	margin-left: 0px;
	padding: 15px;
	background: #000000;
	text-align: justify;
	color: #FFFFFF;
	box-shadow: 10px 10px 15px #66FF00, 10px 10px 15px #66FF00 inset;
}
#pie{
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 5px solid #00FF33;
	color: #FFFFFF;
}
#Pacman{
	width: 300px;
	height: 250px;
	float: center;
}
#Ima1{
	width: 100%;
	height: 30%;
	display: block;	
}
#Ima2, #Ima3{
	width: 100%;
	height: 30%;
	display: block;
	padding: 10px;
}
#Ima5, #Ima6, #Ima4{
	width: 100%;
	height: 30%;
	display: block;
	padding: 10px;
}